<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/CSS/home.css">
    </head>

    <body>
        <p id="title">Student Voice_COVID Purdue </p>
        
        <p id="description_title">What is this website for?</p>
        <p id="description"> 
            -To raise awareness about any daily-life problem students suspect during their in-campus 
            experience regarding COVID, and provide weekly reports to Purdue.<br>

            -To detect any problem that can result in the spread of the virus beforehand.<br>

            -To help create more secure in-campus experience for everyone, with your voice!<br>
    
        </p>

        <div id="report_page_link">
            <a href="/report" id="link">Click here to report a problem</a>
        </div>
        

        <div id = "protect_purdue_home">
            <img src="../static/protect_purdue2.jpg">
        </div>

    </body>
</html>