<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../templates/report_p.css">

    </head>

    <body>
        <form id="problem_form">

            <div class="text-center form-group">
                <label for="short_description" id="short_desc_text">Provide a short description of the problem in 1 sentence:</label>
                <input type="text" class="w-50 form-control" id="short_description" placeholder="Enter the short description..."><br/><br/>
            </div>

            <div class="text-center form-group">
                <label for="description_text_area" id="desc_text">Describe the problem:</label>
                <textarea class="w-50 form-control" id="description_text_area" rows="6"></textarea>
            </div>
        
            <div class="text-center">
                <button type="submit" id="submit_problem" class="btn btn-primary"> Submit</button>
            </div>
            

        </form>

        <div class="form_error" style="color:white">

        </div>
        
        <div id = "protect_purdue">
            <img src="../templates/ProtectPurdue.jpg">
        </div>
        



        <script src="../static/report.js"></script>

    </body>
    
</html>